.btn {
    border: 1px solid #555;
    padding: .5em .75em;
    text-align: center;
    text-decoration: none;

    &--primary {
        background-color: #444;
        color: #fafafa;

        &:hover {
            background-color: #888;
            color: #222;
        }
    }

    &--secondary {
        background-color: #f7f7f7;
        color: #222;

        &:hover {
            background-color: #aaa;
            color: #fafafa;
        }
    }

    &__group {
        text-align: center;
    }
}