app-mix-card {
  width: 100%;
}

@keyframes slide-in-a {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

@keyframes slide-in-b {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0%); }
}
   
@keyframes slide-out-a {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

@keyframes slide-out-b {
  0% { transform: translateX(0%); }
  100% { transform: translateX(100%); }
}

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin: 0 0 1em 0;
}

.grid {

  .card {
    width: 30%;

    &__panel {
      height: 0;
      overflow-y: auto;
      padding-top: 100%;
      position: relative;
      width: 100%;

      &-inner {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        text-align: left;
        top: 0;
        animation: transform 1s forwards;

        &:first-of-type {
          animation: slide-out-a 0.2s forwards;
        }

        &:last-of-type {
          animation: slide-out-b 0.2s forwards;
          transform: translateX(100%);
        }
      }

      &.flipped {

        .card__panel-inner {

          &:first-of-type {
            animation: slide-in-a 0.2s forwards;
          }

          &:last-of-type {
            animation: slide-in-b 0.2s forwards;
          }
        }
      }
    }
    
    &__content-pad {
      padding: 0.5em;
    }

    img {
      max-width: 100%;
      position: sticky;
      top: 0;
    }
  }
}
  
