@keyframes slide-in-a {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-102%); }
}

@keyframes slide-in-b {
  0% { transform: translateX(102%); }
  100% { transform: translateX(0%); }
}
   
@keyframes slide-out-a {
  0% { transform: translateX(-102%); }
  100% { transform: translateX(0%); }
}

@keyframes slide-out-b {
  0% { transform: translateX(0%); }
  100% { transform: translateX(102%); }
}

.card {
  margin: 0 0 2em 0;
}

.column {
  .card {

    &__pane {
      display: flex;
      flex-direction: column;
    }

    &__inner {
      
      &:first-of-type {
        // flex: 1 0;
        margin-right: 2em;
      }
      
      &:last-of-type {
        // flex: 1 0 0;
      }
    }
  }
}

.grid {
  margin: 0 auto;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1rem;

  .card {
    grid-row: span 1;
    grid-column: span 1;
    background-color: rgba(255,255,255,0.7);
    border: 0;  
    box-shadow: 0 0 1px 0 rgba(0,0,0,0.5);
    cursor: pointer;
    position: relative;
    width: 100%;

    &__inner {

      &:first-of-type {

        .card__buttons {
          display: none;
        }
      }

      &:last-of-type {
        display: none;
      }
    }

    &.card--span {
      display: flex;
      flex-direction: column;
      grid-row: span 2;
      grid-column: span 1;
      justify-content: space-between;

      .card__inner {
        flex: 1 1 0;

        &:first-of-type {
          margin-right: 0.5rem;

          .card__buttons {
            display: block;
          }
        }

        &:last-of-type {
          display: block;
          margin-left: 0.5rem;
        }
      }
    }

    img {
      width: 100%;
    }
  }
}
