.two-col {
  display: flex;
  justify-content: space-between;
}


  .hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden; 
    visibility: hidden;
  }
  
  .bdr-1 {
    border-right: 1px solid #9cb29e; }
  
  /* margin */
  .mt-0 {
    margin-top: 0; }
  
  .mr-0 {
    margin-right: 0; }
  
  .mb-0 {
    margin-bottom: 0; }
  
  .ml-0 {
    margin-left: 0; }
  
  .mt-025 {
    margin-top: .25em; }
  
  .mr-025 {
    margin-right: .25em; }
  
  .mb-025 {
    margin-bottom: .25em; }
  
  .ml-025 {
    margin-left: .25em; }
  
  .mt-05 {
    margin-top: .5em; }
  
    .mr-05 {
      margin-right: .5em; }
  
  .mb-05 {
    margin-bottom: .5em; }
  
  .ml-05 {
    margin-left: .5em; }
  
  .mt-1 {
    margin-top: 1em; }
  
  .mr-1 {
    margin-right: 1em; }
  
  .mb-1 {
    margin-bottom: 1em; }
  
    .ml-1 {
      margin-left: 1em; }
  
  .mt-15 {
    margin-top: 1.5em; }
  
  .mr-15 {
    margin-right: 1.5em; }
  
  .mr-125 {
    margin-right: 1.25em; }
  
  .mb-15 {
    margin-bottom: 1.5em; }
  
  .ml-15 {
    margin-left: 1.5em; }
  
  .mt-2 {
    margin-top: 2em; }
  
  .mr-2 {
    margin-right: 2em; }
  
  .mb-2 {
    margin-bottom: 2em; }
  
  .ml-2 {
    margin-left: 2em; }
  
  .mt-3 {
    margin-top: 3em; }
  
  .mr-3 {
    margin-right: 3em; }
  
  .mb-3 {
    margin-bottom: 3em; }
  
  .ml-3 {
    margin-left: 3em; }
  
  .mar-0 {
    margin: 0; }
  
  .mar-05 {
    margin: .5em; }
  
  .mar-1 {
    margin: 1em; }
  
  .mar-2 {
    margin: 2em; }
  
  .mar-3 {
    margin: 3em; }
  
  /* padding */
  .pt-0 {
    padding-top: 0; }
  
  .pr-0 {
    padding-right: 0; }
  
  .pb-0 {
    padding-bottom: 0; }
  
  .pl-0 {
    padding-left: 0; }
  
  .pt-025 {
    padding-top: .25em; }
  
  .pr-025 {
    padding-right: .25em; }
  
  .pb-025 {
    padding-bottom: .25em; }
  
  .pl-025 {
    padding-left: .25em; }
  
  .pt-05 {
    padding-top: .5em; }
  
  .pr-05 {
    padding-right: .5em; }
  
  .pb-05 {
    padding-bottom: .5em; }
  
  .pl-05 {
    padding-left: .5em; }
  
  .pt-1 {
    padding-top: 1em; }
  
  .pr-1 {
    padding-right: 1em; }
  
  .pb-1 {
    padding-bottom: 1em; }
  
  .pl-1 {
    padding-left: 1em; }
  
  .pt-2 {
    padding-top: 2em; }
  
  .pr-2 {
    padding-right: 2em; }
  
  .pb-2 {
    padding-bottom: 2em; }
  
  .pl-2 {
    padding-left: 2em; }
  
  .pt-3 {
    padding-top: 3em; }
  
  .pr-3 {
    padding-right: 3em; }
  
  .pb-3 {
    padding-bottom: 3em; }
  
  .pl-3 {
    padding-left: 3em; }
  
  .pad-0 {
    padding: 0; }
  
  .pad-025 {
    padding: .25em; }
  
  .pad-05 {
    padding: .5em; }
  
  .pad-1 {
    padding: 1em; }
  
  .pad-2 {
    padding: 2em; }
  
  .pad-3 {
    padding: 3em; }
  
  /* floats */
  .fl-l {
    float: left; }
  
  .fl-r {
    float: right; }
  